



hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

body{
background-color:rgb(237, 237, 237);
}
.jumbotron{
background-color:rgb(206, 206, 206);

}

.circle
{
width:60px;
height:60px;
border-radius:50%;
font-size:18px;
line-height:100px;
text-align:center;
background:rgb(165,38,10);
  top: -20px;
  left: 530%;
  margin-top:-10%;
}


.modal-body {
    max-height: 800px;
}
.numsenario{
color:white;
position:relative;
top: -30%;
}

#ajouter2{
display:inline-block;
margin-bottom:100px;
margin-left:20px
}

.glyphicon-plus-sign{
width:60px
}
